---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { Image } from "astro:assets";
import portrait from "@assets/images/gpiskas.png";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
---

<Layout title={`${SITE.title} | About`}>
  <Header activeNav="about" />
  <Main pageTitle="About">
    <section id="about" class="prose mx-auto mt-8 max-w-5xl">
      <Image class="portrait" src={portrait} alt="Georgios Piskas" />
      <h3>I am a...</h3>
      <p>
        <span class="highlight">
          Solution provider. Architecure builder. Team leader. Tech lover.
        </span>
      </p>
      <p>
        <span class="highlight">
          Problem solver. Software composer. Bug crusher. Code cleaner.
        </span>
      </p>
      <p>Big thinker. Head scratcher. Fire starter. Goal achiever.</p>
      <p>Quick learner. Idea conceiver. People convincer. Trend appraiser.</p>
      <p>Meaning finder. Sanity checker. Buzzword hater. Bullshit avoider.</p>
      <p>
        Nature enjoyer. World traveller. Game player. Gym goer. Home fixer. Cat
        petter. Bike rider. Book reader. Movie watcher. Guitar player. Bread
        baker. Bean counter. Tax payer. Joke dispenser.
      </p>
      <p>Air breather. Water drinker. Food eater. Deep sleeper.</p>
      <p class="last">
        <span class="highlight">Dreamer. Planner. Doer.</span>
      </p>
      <Hr />
      <p>
        Visit my <LinkButton
          href="https://www.linkedin.com/in/gpiskas"
          title="Georgios Piskas on LinkedIn"
          ariaLabel="Georgios Piskas on LinkedIn"
          newTab
        >
          LinkedIn Profile
        </LinkButton> for more details.
      </p>
      <p>
        Reach out at <LinkButton
          href="mailto:gpiskas@gmail.com"
          title="Send an email to Georgios Piskas"
          ariaLabel="Send an email to Georgios Piskas"
        >
          gpiskas@gmail.com
        </LinkButton> for business inquiries.
      </p>
    </section>
  </Main>
  <Footer />

  <style>
    #about p {
      @apply m-2;
    }
    .last {
      @apply text-right text-xl;
    }
    .portrait {
      @apply float-none h-40 w-40 rounded-full object-cover sm:float-right;
    }
  </style>
</Layout>
