---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`${SITE.title} | Services`}>
  <Header activeNav="services" />
  <Main pageTitle="Services">
    <section id="services" class="prose max-w-full">
      <p>
        Please reach out at <LinkButton
          href="mailto:gpiskas@gmail.com"
          title="Send an email to Georgios Piskas"
          newTab>gpiskas@gmail.com</LinkButton
        > with a description of your needs and an estimate in budget, time and scale.
        I can work with you on an individual basis or integrate in your existing
        organization.
      </p>
      <h3 id="consulting">Consulting:</h3>
      <ul>
        <li>Systems Architecture</li>
        <li>Software Engineering</li>
        <li>Cloud-based Solutions &amp; Adoption</li>
        <li>Legacy Modernization, Refactoring &amp; Replatforming</li>
        <li>DevOps Practices</li>
        <li>Software Lifecycle Management</li>
        <li>Process Automation &amp; Optimization</li>
        <li>And more...</li>
      </ul>
      <h3 id="projects">Projects:</h3>
      <ul>
        <li>Fullstack Webapps</li>
        <li>Static &amp; Dynamic Websites</li>
        <li>Cloud-based Solutions</li>
        <li>Mobile Apps</li>
        <li>Desktop Apps</li>
        <li>And more...</li>
      </ul>
    </section>
  </Main>
  <Footer />
</Layout>
