---
import Rss from "@components/Rss.astro";

export type Props = {
  pageTitle: string;
  pageDesc?: string;
};

const { props } = Astro;

const showRss = props.pageTitle === "Posts";
---

<main id="main-content">
  <h1>{props.pageTitle} {showRss && <Rss />}</h1>
  <p>{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto mt-4 w-full max-w-5xl px-4 pb-4;
  }
  #main-content h1 {
    @apply text-2xl font-semibold;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>
