---

export type Props = {
  pageTitle: string;
  pageDesc?: string;
};

const { props } = Astro;
---

<main id="main-content">
  <h1>{props.pageTitle}</h1>
  <p>{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto w-full max-w-5xl px-4 pb-4 mt-4;
  }
  #main-content h1 {
    @apply text-2xl font-semibold;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>
